<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">

            <div class="error-page">
                <h1 class="sub-heading">
                    You are not authorized to view this page. Please visit our help center for further assistance.
                </h1>
            </div>

        </div>
    </div>

</div>

