<nav class="navbar navbar-default">
    <div class="nav-container">
        <div class="row">
            <div class="navbar-header">
                <button class="navbar-toggle navbar-menu-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-menu-mobile" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="air-icon-view-as-informative"></span>
                </button>
                <a class="navbar-brand" title="Upwork" href="https://www.upwork.com">
                    <div class="navbar-brand-logo"></div>
                </a>
            </div>

            <div id="navbar-menu-desktop" class="navbar-menu-desktop">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="btn btn-link" href="/hc/en-us">Help Home</a>
                    </li>
                    <li>
                        <a class="btn btn-link" href="https://community.upwork.com/t5/Known-Issues-and-Workarounds/idb-p/KnownIssues">Known Issues</a>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-link dropdown-toggle">Resources</a>
                        <ul class="dropdown-menu caret-up">
                            <li><a href="https://www.upwork.com/resources">Resource Center</a></li>
                            <li><a href="https://community.upwork.com">Upwork Community</a></li>
                            <li><a href="https://status.upwork.com">Upwork Status</a></li>
                            <li><a class="btn-link-webinars">Webinars</a></li>
                            <li><a class="btn-link-chatbot">Contact</a></li>
                        </ul>
                    </li>                    
                </ul>
            </div>

            {{#if signed_in}}
                <div class="avatar-cont dropdown">
                    <div class="dropdown-toggle auth-user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-user"></div>
                    </div>
                    
                    <ul class="dropdown-menu caret-up">
                        <li>
                            <a class="link-my-requests" href="#">
                                <span class="air-icon-project"></span>My Requests
                            </a>
                        </li>
                        <li>
                            <a class="link-log-out" href="#">
                                <span class="air-icon-logout"></span>Log out
                            </a>
                        </li>                    
                    </ul>
                </div>
            {{else}}
                <a class="btn btn-primary navbar-btn link-log-in">Log In</a>
            {{/if}} 

            <div id="navbar-searchbar-desktop" class="navbar-search navbar-search-desktop navbar-search-desktop-default">
                {{search submit=false placeholder='Search Articles'}}
            </div>

        </div>
    </div>

    <div id="navbar-menu-mobile" class="collapse navbar-menu-mobile">
        <div class="navbar-header-mobile">
            <a class="navbar-brand" title="Upwork" href="https://www.upwork.com">
                <div class="navbar-brand-logo"></div>
            </a>
            <span class="navbar-mobile-close-btn"></span>
        </div>

        <div id="navbar-search-mobile" class="navbar-search navbar-search-mobile">
            {{search submit=false placeholder='Search Articles'}}
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a class="btn btn-link" href="/hc/en-us">Help Home</a>
            </li>
            <li>
                <a class="btn btn-link" href="https://community.upwork.com/t5/Known-Issues-and-Workarounds/idb-p/KnownIssues">Known Issues</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.upwork.com/resources">Resource Center</a></li>
                    <li><a href="https://community.upwork.com">Upwork Community</a></li>
                    <li><a href="https://status.upwork.com">Upwork Status</a></li>
                    <li><a class="btn-link-webinars">Webinars</a></li>
                    <li><a class="btn-link-chatbot">Contact</a></li>
                </ul>
            </li>
            {{#if signed_in}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="auth-user-name">User</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="link-my-requests" href="#">My Requests</a></li>
                        <li><a class="link-log-out" href="#">Log out</a></li>
                    </ul>
                </li>
            {{/if}}
        </ul>
        {{#unless signed_in}}
            <div id="navbar-help-mobile" class="navbar-help-mobile">
                <a class="btn btn-primary navbar-btn link-log-in">Log In</a>
            </div>
        {{/unless}}
    </div>
</nav>