<div class="new-request-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumb breadcrumbs-mobile">                    
                    {{breadcrumbs}}
                </div>
            </div>
        </div>
    </div>
</div>


<header class="page-header new-request-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="heading-visitor">{{t 'submit_a_request'}}</h2>
                <div class="breadcrumb breadcrumbs-desktop">
                    {{breadcrumbs}}
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Generic SMF -->
<div id="section-smf" class="section-smf new-request-page">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>


<div class="main new-request-page">
    <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <p class="header-hint">
                      We will pass your question on to one of our agents who will personally reply to you as soon as possible.
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  {{request_form}}
              </div>
          </div>
    </div>
</div>
