<div class="new-request-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs-mobile">                
                {{breadcrumbs}}
            </div>

            <div class="breadcrumbs-desktop">
                {{breadcrumbs}}
                <div class="main-page-title">{{t 'my_requests'}}</div>
            </div>            

            <!-- Generic SMF -->
            <div id="section-smf" class="section-smf new-request-page">
                <div class="row"></div>
            </div>
            
            <div class="col-xs-12">
                <div class="row">
                    <p class="header-hint">
                        We will pass your question on to one of our agents who will personally reply to you as soon as possible.
                    </p>

                    <div id="new-request-form-cont">
                        {{request_form}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>